# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# source files
src

# tests
test
coverage

# build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

# linters
.jscsrc
.jshintrc
.eslintrc*

# editor settings
.idea
.editorconfig

# Yarn NPM package files
npm-shrinkwrap.json
package-lock.json
yarn.lock
